html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

x-button {
	cursor: pointer;
}

x-button > x-label {
	cursor: pointer;
}

.container {
	height: 100%;
  	min-height: 100%;
  	display: flex;
  	flex-direction: column;
}

.yy-container {
  	flex-grow: 1;

  	display: flex;
}

.yy-item {
	width: 50%;
  	flex-grow: 1;
	margin: 10px;
	border: 4px solid grey;
}

.yy-item > .raw-markdown {
	height: 100%;
  	min-height: 100%;
}

.yy-item > .rendered-html {
	height: 100%;
  	min-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}