html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

textarea {
	width: 100%;
	height: 100%;

	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

x-button {
	cursor: pointer;
	margin-right: 10px;
}

x-button > x-label {
	cursor: pointer;
}

.container {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.yy-container {
	flex-grow: 1;

	display: flex;
}

.yy-item {
	width: 50%;
	flex-grow: 1;
	margin: 10px;
}

.yy-item > .raw-markdown {
	height: 100%;
	min-height: 100%;
}

.yy-item > .rendered-html {
	height: 100%;
	min-height: 100%;
	padding-left: 10px;
	padding-right: 10px;

	overflow: auto;
}

.yy-menu {
	justify-content: space-between;
}

.yy-filename {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
}

.yy-markdown-icon {
	background: url('./assets/markdown.png');
	height: 24px;
	width: 39px;
	margin-right: 6px;
}

.yy-logo-text {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 24px;
}
